.loginPageContainerStyle {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .gridContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    .blankCard {
      width: 50vw;
      height: 100%;
      .cardStyle {
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url("../../assets//images/texture.png");
        background-repeat: no-repeat;
        .cardContentStyle {
          top: 30%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .loginContainerStyle {
      padding: 2% 2% 2% 2%;
      justify-content: center;
      width: 100%;
    }
  }
}
